﻿.login-div{
    padding-top: 10vh;
}

.login-logo{
  height: 175px !important;
  width: 175px !important;
  margin-left: 40%
}

md-content{
    text-align:center;
}

.campo-login{
    margin-bottom: 15px;
}
.login-error{
    font-size: 13px;
    color: red;
    text-align: center;
}
.login-title1{
    margin-bottom:0px;
}
.login-title2{
    font-size:13px;
}