﻿<md-toolbar layout="row" class="md-whiteframe-z2 fixed">
    <div class="md-toolbar-tools">
        <a href="#" class="coltejer-bar-top-spacing">
            <img src="{{iconPath}}" alt="Coltejer S.A" class="coltejer-top-bar-logo">
        </a>
        <!-- fill up the space between left and right area -->
        <span flex></span>
    </div>
</md-toolbar>