﻿@import "../variables.less";

// Estilos propios ==========================================================

.coltejer-top-bar-padding {
  padding-top: 10px;
}
.coltejer-top-bar-logo {
  height: 25px;
}

.fixed{
    position: fixed;
    top: 0;
}