﻿@import "../variables.less";

.btn {
  &-success-infolink {
    background-color: @coltejer-bg-default !important;
    &:focus,&:active{
      outline: none !important;
      background-color: @coltejer-bg-default !important;
    }
  }
}

.btn-coltejer-infolink {
  &:focus,&:active{
    outline: none !important;
    background-color: @coltejer-bg-default !important;
  }
}

.btn-circle-infolink-xlg {
  text-align: center !important;
  padding: 4vw !important;
  border-radius: 100px !important;
  margin-bottom: 15px !important;
}

.btn-circle-infolink-lg {
  text-align: center !important;
  padding: 3vw !important;
  border-radius: 100px !important;
  margin-bottom: 15px !important;
}

.btn-circle-infolink-md {
  text-align: center !important;
  padding: 2vw !important;
  border-radius: 100px !important;
  margin-bottom: 15px !important;
}

.btn-circle-infolink-sm {
  text-align: center !important;
  padding: 1vw !important;
  border-radius: 100px !important;
  margin-bottom: 15px !important;
}

.btn-circle-infolink-xsm {
  text-align: center !important;
  padding: 0.5vw !important;
  border-radius: 100px !important;
  margin-bottom: 15px !important;
}

.glyphicon-xbig-infolink {
  font-size: 7vw;
  vertical-align: middle;
  text-align: center;
  color: white;
}

.glyphicon-big-infolink {
  font-size: 6vw;
  vertical-align: middle;
  text-align: center;
  color: white;
}

.glyphicon-medium-infolink {
  font-size: 5vw;
  vertical-align: middle;
  text-align: center;
  color: white;
}

.glyphicon-small-infolink {
  font-size: 4vw;
  vertical-align: middle;
  text-align: center;
  color: white;
}
.glyphicon-xsmall-infolink {
  font-size: 3vw;
  vertical-align: middle;
  text-align: center;
  color: white;
}

.text-center{
    text-align: center;
}