﻿
    <div class="text-center">
        <a href={{hyperlink}}>
            <button class="btn btn-coltejer-infolink btn-success-infolink btn-circle-infolink">
                <i ng-class=glyphiconRealClass>{{materialIcon}}</i>
            </button>
        </a>
        <h4>{{iconTitle}}</h4>
        <p>{{briefing}}</p>
    </div>