﻿@font-face {
  font-family: coltejer-font-regular;
  src: url("../fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: coltejer-font-bold;
  src: url("../fonts/Roboto-Bold.ttf");
}
@font-face {
  font-family: coltejer-font-thin;
  src: url("../fonts/Roboto-Thin.ttf");
}
@font-face {
  font-family: coltejer-font-light;
  src: url("../fonts/Roboto-Light.ttf");
}
@font-face {
  font-family: coltejer-font-italic;
  src: url("../fonts/Roboto-Italic.ttf");
}
@font-face {
  font-family: coltejer-font-medium;
  src: url("../fonts/Roboto-Medium.ttf");
}
@font-face {
  font-family: coltejer-font-black;
  src: url("../fonts/Roboto-Black.ttf");
}
.btn-success {
  background-color: #307b5b;
}
.btn-success:focus,
.btn-success:active {
  outline: none;
  background-color: #307b5b;
  background-image: radial-gradient(circle, #307b5b 80%, #246a4c 81%);
}
.btn-success:hover {
  background-color: #246a4c;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: coltejer-font-medium;
}
p {
  font-family: coltejer-font-light;
}
.menu svg {
  fill: #ffffff;
}
.coltejer-logo {
  height: 25px;
}
.coltejer-brand {
  padding-top: 10px;
}
/*# sourceMappingURL=app.css.map */