﻿//================= Estilos estandar de Coltejer =================||
//  Este archivo, contiene los estilos estandar de las apps       ||
//  web de Coltejer S.A, no debe ser modificado, a menos que se   ||
//  haya pedido un cambio en los estilos generales de las         ||
//  aplicaciones.                                                 ||
//                                                                ||
//                                                                ||
//   Este archivo fue creado por Andrés Botero, Coltejer S.A      ||
//================================================================||
@import "variables.less";

.btn-success {
    background-color: @coltejer-color-default;
}

.btn-success:focus,
.btn-success:active {
    outline: none;
    background-color: @coltejer-color-default;
    background-image: radial-gradient(circle, @coltejer-color-default 80%, @coltejer-color-contrast 81%);
}

.btn-success:hover {
    background-color: @coltejer-color-contrast;
}

h1, h2, h3, h4, h5 {
    font-family: coltejer-font-medium;
}

p {
    font-family: coltejer-font-light;
}
