﻿// Fonts ===========================================

@font-face {
	font-family: coltejer-font-regular;
	src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
	font-family: coltejer-font-bold;
	src: url("../fonts/Roboto-Bold.ttf");
}

@font-face {
	font-family: coltejer-font-thin;
	src: url("../fonts/Roboto-Thin.ttf");
}

@font-face {
	font-family: coltejer-font-light;
	src: url("../fonts/Roboto-Light.ttf");
}

@font-face {
	font-family: coltejer-font-italic;
	src: url("../fonts/Roboto-Italic.ttf");
}

@font-face {
	font-family: coltejer-font-medium;
	src: url("../fonts/Roboto-Medium.ttf");
}

@font-face {
	font-family: coltejer-font-black;
	src: url("../fonts/Roboto-Black.ttf");
}
// Colors =========================================
@coltejer-color-default:  #307B5B;
@coltejer-color-contrast: #246A4C;
@coltejer-color-error: #bb2d2d;
