// Fonts ===========================================

@font-face {
	font-family: ct-regular;
	src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
	font-family: ct-bold;
	src: url("../fonts/Roboto-Bold.ttf");
}

@font-face {
	font-family: ct-thin;
	src: url("../fonts/Roboto-Thin.ttf");
}

@font-face {
	font-family: ct-light;
	src: url("../fonts/Roboto-Light.ttf");
}

@font-face {
	font-family: ct-italic;
	src: url("../fonts/Roboto-Italic.ttf");
}

@font-face {
	font-family: ct-medium;
	src: url("../fonts/Roboto-Medium.ttf");
}

@font-face {
	font-family: ct-black;
	src: url("../fonts/Roboto-Black.ttf");
}
// Colors =========================================
@coltejer-bg-default:  #307B5B;
@coltejer-bg-contrast: #246A4C;