﻿@import "../variables.less";

// Estilos propios ==========================================================
.coltejer-unmargined-table-offline {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    text-align: center;
}

@media only screen and (min-width: 769px) {
    table thead > tr > th
    {
        border-bottom: 1px solid rgb(230,230,230)
    }

        table tbody > tr:hover 
    {
        background-color:rgba(63,81,181,0.2);
    }

        table
    {
        padding-bottom: 5px;
        padding-top: 5px;
    }
}


@media only screen and (max-width: 768px) {
    
    /* Force table to not be like tables anymore */
	.coltejer-responsive-table-offline table, 
	.coltejer-responsive-table-offline thead, 
	.coltejer-responsive-table-offline tbody, 
	.coltejer-responsive-table-offline th, 
	.coltejer-responsive-table-offline td, 
	.coltejer-responsive-table-offline tr { 
		display: block; 
	}
 
	/* Hide table headers (but not display: none;, for accessibility) */
	.coltejer-responsive-table-offline thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
 
	.coltejer-responsive-table-offline tr { border: 1px solid #ccc; }
 
	.coltejer-responsive-table-offline td { 
		/* Behave  like a "row" */
		border: none !important;
		border-bottom: 1px solid #eee !important; 
		position: relative;
		padding-left: 50% !important; 
		white-space: normal;
		text-align:left;
	}
 
	.coltejer-responsive-table-offline td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
		text-align:left;
		font-weight: bold;
        content: attr(data-title);
	}
}