﻿@font-face {
  font-family: ct-regular;
  src: url("../../fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: ct-bold;
  src: url("../../fonts/Roboto-Bold.ttf");
}
@font-face {
  font-family: ct-thin;
  src: url("../../fonts/Roboto-Thin.ttf");
}
@font-face {
  font-family: ct-light;
  src: url("../../fonts/Roboto-Light.ttf");
}
@font-face {
  font-family: ct-italic;
  src: url("../../fonts/Roboto-Italic.ttf");
}
@font-face {
  font-family: ct-medium;
  src: url("../../fonts/Roboto-Medium.ttf");
}
@font-face {
  font-family: ct-black;
  src: url("../../fonts/Roboto-Black.ttf");
}
.coltejer-sidebar-center {
  text-align: center;
}
.icon-md {
  height: 90px;
  width: 90px;
}
/*.boton-despliegue-menu{
    right: 0px;
    top: 0px !important;
    z-index: 1000;
    position: absolute;
    background-color:transparent;
    }*/
.coltejer-sidebar-btn-deploy-left {
  left: 0;
  bottom: 6px !important;
  z-index: 1000;
  position: absolute;
  background-color: transparent;
}
.coltejer-sidebar-btn-deploy-right {
  right: 0;
  bottom: 6px !important;
  z-index: 1000;
  position: absolute;
  background-color: transparent;
}
.no-static-right {
  left: auto;
}
.md-icon-button {
  background-color: #307b5b !important;
}
.md-icon-button:hover {
  background-color: #279465 !important;
}
@media (min-width: 1280px) {
  .coltejer-sidebar-btn-deploy-right {
    display: none;
  }
  .coltejer-sidebar-btn-deploy-left {
    display: none;
  }
  .send-to-top-1 {
    z-index: 1;
  }
  .send-to-top-2 {
    z-index: 2;
  }
}
@media (min-width: 960px) {
  /*.boton-despliegue-menu{
    top: 6px !important;
    }*/
}
@media (max-width: 466px) {
  /*.boton-despliegue-menu{
    top: 3px !important;
    }*/
}
/*# sourceMappingURL=coltejer-sidebar-profile.css.map */