﻿@import "../variables.less";

// Estilos propios ==========================================================
.coltejer-sidebar-center {
    text-align: center;
}

.icon-md {
    height: 90px;
    width: 90px;
}
/*.boton-despliegue-menu{
    right: 0px;
    top: 0px !important;
    z-index: 1000;
    position: absolute;
    background-color:transparent;
    }*/

.coltejer-sidebar-btn-deploy-left {
    left: 0;
    bottom: 6px !important;
    z-index: 2;
    position: fixed; // absolute
    background-color: transparent;
}

.coltejer-sidebar-btn-deploy-right {
    right: 0;
    bottom: 6px !important;
    z-index: 2;
    position: fixed; // absolute
    background-color: transparent;
}

.no-static-profile-right {
    right: 0;
}

.md-sidenav-backdrop{
    position: fixed !important;
}

.md-icon-button {
    background-color: @coltejer-bg-default !important;
}

.md-icon-button:hover {
    background-color: #279465 !important;
}

.fixed{ //no existia
    position: fixed !important;
}

@media (min-width: 1280px) {
    /*.coltejer-sidebar-btn-deploy-right {
        display: none;
    }

    .coltejer-sidebar-btn-deploy-left {
        display: none;
    }*/

    .send-to-top-1 {
        z-index: 1;
    }

    .send-to-top-2 {
        z-index: 2;
    }
}

@media (max-width: 959px) {
    .no-static-profile-right{
        left: 100%;
    }
}

@media (max-width: 466px) {
    /*.boton-despliegue-menu{
    top: 3px !important;
    }*/
}
