﻿<div ng-app="coltejer.sidebar.profile" class="send-to-top-1">
    <md-button class="md-icon-button coltejer-sidebar-btn-deploy-left send-to-top-1" ng-hide="isOpenLeft()" aria-label="Menu" ng-click="toggleLeft()" ng-if="sidebarSide==\'left\'">
        <md-icon md-svg-src="static/img/icons/avatar.svg" class="menu"></md-icon>
    </md-button>
    <md-button class="md-icon-button coltejer-sidebar-btn-deploy-right send-to-top-1" ng-hide="isOpenRight()" aria-label="Menu" ng-click="toggleRight()" ng-if="sidebarSide==\'right\'">
        <md-icon md-svg-src="static/img/icons/avatar.svg" class="menu"></md-icon>
    </md-button>
    <md-sidenav class="md-sidenav-left md-whiteframe-z1 fixed" style="height: 100vh" md-component-id="left" ng-if="sidebarSide==\'left\'">
        <md-toolbar layout-padding="" class="coltejer-sidebar-center">
            <div>
                <md-icon md-svg-src="static/img/icons/avatar.svg" class="avatar icon-md"></md-icon>
                <p>{{datosUsuario.Nombre}}</p>
            </div>
        </md-toolbar>
        <md-content layout-padding="">
            <p ng-if=error.exist>{{error.message}}</p>
            <p ng-repeat="(key,val) in datosUsuario">{{key}}: {{val}}</p>
            <md-button ng-click="close()" class="md-primary"> Cerrar </md-button>
        </md-content>
    </md-sidenav>
    <md-sidenav class="md-sidenav-right md-whiteframe-z1 no-static-profile-right fixed" style="height: 100vh" md-component-id="right" ng-if="sidebarSide==\'right\'">
        <md-toolbar layout-padding="" class="coltejer-sidebar-center">
            <div>
                <md-icon md-svg-src="static/img/icons/avatar.svg" class="avatar icon-md"></md-icon>
                <p>{{datosUsuario.Nombre}}</p>
            </div>
        </md-toolbar>
        <md-content layout-padding="">
            <p ng-if=error.exist>{{error.message}}</p>
            <p ng-repeat="(key,val) in datosUsuario">{{key}}: {{val}}</p>
            <md-button ng-click="close()" class="md-primary"> Cerrar </md-button>
        </md-content>
    </md-sidenav>
</div>