﻿@font-face {
  font-family: ct-regular;
  src: url("../../fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: ct-bold;
  src: url("../../fonts/Roboto-Bold.ttf");
}
@font-face {
  font-family: ct-thin;
  src: url("../../fonts/Roboto-Thin.ttf");
}
@font-face {
  font-family: ct-light;
  src: url("../../fonts/Roboto-Light.ttf");
}
@font-face {
  font-family: ct-italic;
  src: url("../../fonts/Roboto-Italic.ttf");
}
@font-face {
  font-family: ct-medium;
  src: url("../../fonts/Roboto-Medium.ttf");
}
@font-face {
  font-family: ct-black;
  src: url("../../fonts/Roboto-Black.ttf");
}
.coltejer-unmargined-table {
  padding-left: 0;
  padding-right: 0;
}
@media only screen and (max-width: 768px) {
  /* Force table to not be like tables anymore */
  .coltejer-responsive-table table,
  .coltejer-responsive-table thead,
  .coltejer-responsive-table tbody,
  .coltejer-responsive-table th,
  .coltejer-responsive-table td,
  .coltejer-responsive-table tr {
    display: block;
  }
  /* Hide table headers (but not display: none;, for accessibility) */
  .coltejer-responsive-table thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  .coltejer-responsive-table tr {
    border: 1px solid #ccc;
  }
  .coltejer-responsive-table td {
    /* Behave  like a "row" */
    border: none !important;
    border-bottom: 1px solid #eee !important;
    position: relative;
    padding-left: 50% !important;
    white-space: normal;
    text-align: left;
  }
  .coltejer-responsive-table td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    text-align: left;
    font-weight: bold;
    content: attr(data-title);
  }
}
/*# sourceMappingURL=coltejer-table.css.map */