<div class="coltejer-responsive-table" ng-app="coltejer.table">
    <table class="col-md-12 table-bordered table-striped table-condensed cf coltejer-unmargined-table">
        <thead class="cf">
            <tr>
                <th ng-repeat="field in fields " class="text-center">{{field}}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="object in data">
                <td ng-repeat="field in fields filter|filter" data-title="{{field}}">{{object[field]}}</td>
            </tr>
        </tbody>
    </table>
</div>