﻿@import "../variables.less";

// Estilos propios =========================================================
.coltejer-sidebar-center {
    text-align: center;
}

.icon-md {
    height: 90px;
    width: 90px;
}
/*.boton-despliegue-menu{
    right: 0px;
    top: 0px !important;
    z-index: 1000;
    position: absolute;
    background-color:transparent;
    }*/

.coltejer-sidebar-menu-btn-deploy {
    right: 0;
    top: 0px !important;
    z-index: 2;
    position: fixed; //absolute
    background-color: transparent;
}

.no-static-right {
    right: 0 !important;
    left: initial !important;
}

.md-sidenav-backdrop{
    position: fixed !important;
}
.fixed{ //no existia
    position: fixed !important;
}
.md-icon-button {
    background-color: @coltejer-bg-default !important;
}

.md-icon-button:hover {
    background-color: #279465 !important;
}

.menu-link{
    text-decoration: none;
    border: none;
    outline: none !important;
    color:rgba(0,0,0,0.87);
    font-family: coltejer-font-light;
}

.menu-box{
    transition: all .55s cubic-bezier(.25,.8,.25,1)
}
.menu-box:hover{
    background-color: rgba(158,158,158,0.2) !important;
}

.menu-box:active{
    background-color: rgba(0,0,0,0.0980392) !important;
}
@media (min-width: 1280px) {
    /*.coltejer-sidebar-menu-btn-deploy-right {
        display: none;
    }

    .coltejer-sidebar-menu-btn-deploy-left {
        display: none;
    }*/

    .send-to-top-1 {
        z-index: 1;
    }

    .send-to-top-2 {
        z-index: 2;
    }
}

@media (min-width: 960px) {
.coltejer-sidebar-menu-btn-deploy{
    top: 7px !important;
    }
}

@media (max-width: 959px) {
.coltejer-sidebar-menu-btn-deploy{
    top: 0px !important;
    }
}

@media (max-width: 570px) {
.coltejer-sidebar-menu-btn-deploy{
    top: 3px !important;
    }
}

@media (max-width: 466px) {
.coltejer-sidebar-menu-btn-deploy{
    top: 3px !important;
    }
}
