﻿<div ng-app="coltejer.sidebar.menu" class="send-to-top-1">
    <md-button class="md-primary coltejer-sidebar-menu-btn-deploy send-to-top-2" ng-hide="isOpenLeft()" aria-label="Menu" ng-click="toggleLeft()" ng-if="sidebarSide==\'left\'">
        <md-icon md-svg-src="static/img/icons/menu.svg" class="menu"></md-icon>
    </md-button>
    <md-button class="md-primary coltejer-sidebar-menu-btn-deploy send-to-top-2" ng-hide="isOpenRight()" aria-label="Menu" ng-click="toggleRight()" ng-if="sidebarSide==\'right\'">
        <md-icon md-svg-src="static/img/icons/menu.svg" class="menu"></md-icon>
    </md-button>
    <md-sidenav class="md-sidenav-right md-whiteframe-z2 fixed" is-locked-open="$media(\'\')" style="height: calc(100vh -{{alturaNavbar}})" md-component-id="right" ng-if="sidebarSide==\'right\'">
        <md-toolbar class="md-theme-light">
            <h3 class="md-toolbar-tools">Menú</h3>
        </md-toolbar>
        <md-content layout-padding="">
            <md-list>
                <md-list-item ng-if="error.exist">
                    <p>{{error.message}}</p>
                    <md-icon md-font-icon="android" aria-label="android">
                </md-list-item>
                <md-list-item class="menu-box" ng-repeat="option in menu" ng-if="option.SubMenu==null">
                    <a class="menu-link" href="{{option.Uri}}">{{option.Titulo}}</a>
                    <md-icon md-font-icon="android" aria-label="android">
                </md-list-item>
                <md-menu md-offset="0 70" ng-repeat="option in menu" ng-if="option.SubMenu !=null">
                    <md-list-item ng-click="$mdOpenMenu($event)"> <a class="menu-link" href="#">{{option.Titulo}}</a> </md-list-item>
                    <md-menu-content width="4">
                        <md-menu-item ng-repeat="suboption in option.SubMenu">
                            <a class="menu-link" href="{{suboption.Uri}}"> <i class={{suboption.Icon}}></i>{{suboption.Titulo}}</a>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </md-list>
            <md-button ng-click="close()" class="md-primary"> Cerrar </md-button>
        </md-content>
    </md-sidenav>
    <md-sidenav class="md-sidenav-left md-whiteframe-z2 fixed" is-locked-open="$media(\'\')" style="height: calc(100vh -{{alturaNavbar}})" md-component-id="left" ng-if="sidebarSide==\'left\'">
        <md-toolbar class="md-theme-light">
            <h3 class="md-toolbar-tools">Menú</h3>
        </md-toolbar>
        <md-content layout-padding="">
            <md-list>
                <md-list-item ng-if="error.exist">
                    <p>{{error.message}}</p>
                    <md-icon md-font-icon="android" aria-label="android">
                </md-list-item>
                <md-list-item class="menu-box" ng-repeat="option in menu" ng-if="option.SubMenu==null">
                    <a class="menu-link" href="{{option.Uri}}">{{option.Titulo}}</a>
                    <md-icon md-font-icon="android" aria-label="android">
                </md-list-item>
                <md-menu md-offset="0 70" ng-repeat="option in menu" ng-if="option.SubMenu !=null">
                    <md-list-item ng-click="$mdOpenMenu($event)"> <a class="menu-link" href="#">{{option.Titulo}}</a> </md-list-item>
                    <md-menu-content width="4">
                        <md-menu-item class="menu-box" ng-repeat="suboption in option.SubMenu">
                            <a class="menu-link" href="{{suboption.Uri}}"> <i class={{suboption.Icon}}></i>{{suboption.Titulo}}</a>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </md-list>
            <md-button ng-click="close()" class="md-primary"> Cerrar </md-button>
        </md-content>
    </md-sidenav>
</div>